body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.clear-fix {
    overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

h1 {
    font-size: 40px;
    color: #f5a623;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

#skills-h3 {
    color: #f5ae23;
    display: none;
}

.orange {
    background-color: #f5ae23;
}

.orange-text {
    color: #f5ae23;
}

.white-text {
    font-weight: bold;
    color: #fff;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
    background-color: #484848;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.biopic {
    float: left;
    padding: 10px;
    width: 200px;
    display: none;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}

#lets-connect {
    text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }

    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    }
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
  .biopic {
        display: block;
    }
}

/* Style for nav-bar added. */

#nav-bar {
  position: fixed;
}

#nav-bar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: #FFA500;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

#nav-menu {
    padding: 0;
    list-style-type: none;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#navemenu li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 0;
    border: none;
}

.sum-entry {
    padding-bottom: 10px;
}

a.nav-item {
    color: white;
    height: auto;
    padding: 10px 20px;
    margin-top: 0px;
    display: block;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    white-space: nowrap;
    font-weight: 600;
}

a.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

a.nav-item:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

a.nav-item:active {
    background-color: rgba(255, 255, 255, 0.4);
}